{{ define "templates/layouts/header"}}
<html lang="en">

<header>
    <nav>
        <div id="menu">
            <ul>
                <li class="dropdown">
                    <a href="/shop/categories" class="dropbtn catalog-button">Catalog</a>
                    <div class="dropdown-content">
                        <a href="/shop/categories/cpu">CPU</a>
                        <a href="/shop/categories/gpu">GPU</a>
                        <a href="/shop/categories/motherboard">Motherboards</a>
                        <a href="/shop/categories/ram">RAM</a>
                        <a href="/shop/categories/powersupply">Power supply</a>
                        <a href="/shop/categories/ssd">SSD</a>
                        <a href="/shop/categories/hdd">HDD</a>
                        <a href="/shop/categories/cooling">Cooling</a>
                        <a href="/shop/categories/housing">Housing</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="search-bar">
            <input type="text" id="search-input" placeholder="Search...">
            <button id="search-button" onclick="searchALl()">
                <img src="/backend/assetsd/assets/icons/search.png" alt="Search">
            </button>
        </div>
        <div id="add-panel">
            <div id="shopping-cart" class="shopping-cart">
                <a href="/shop/cart"><img src="/backend/assetsd/assets/icons/cart.png" alt="Shopping Cart"></a>
                <span id="cart-badge" class="cart-badge">5</span>
            </div>
            <div class="user-container">
                {{ if .User.ID }}
                <img src="{{ .User.Image }}" alt="User Account">
                <ul>
                    <li class="dropdown">
                        <span>
                            <a href="#" class="dropbtn catalog-button">{{ .User.Name }}</a>
                         </span>
                        <div class="dropdown-content">
                            <a href="/shop/profile">Profile</a>
                            <a href="/auth/logout">Log out</a>
                        </div>
                    </li>
                </ul>
                {{ else }}
                    <ul>
                        <li class="dropdown">
                            <div class="dropdown-content">
                                <a href="/auth/login">Login</a>
                            </div>
                        </li>
                    </ul>
                {{ end }}
            </div>
        </div>
    </nav>
</header>
{{ end }}