{{ define "templates/layouts/headLogin" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login Form</title>
        <link rel="stylesheet" href="/backend/assetsd/assets/css/mainStyle.css">
        <link rel="stylesheet" href="/backend/assetsd/assets/css/login.css"><!-- Link to your main CSS file -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
{{ end }}