{{ define "templates/layouts/head" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.title}}</title>
        <link rel="stylesheet" href="/backend/assetsd/assets/css/mainStyle.css">
    </head>
{{ end }}