{{ define "templates/layouts/header"}}
<html lang="en">

<header>
    <nav>
        <div id="menu">
            <ul>
                <li class="dropdown">
                    <a href="/shop" class="dropbtn catalog-button">Catalog</a>
                    <div class="dropdown-content">
                        <a href="/listProducts?productType=cpu">CPU</a>
                        <a href="/listProducts?productType=gpu">GPU</a>
                        <a href="/listProducts?productType=motherboard">Motherboards</a>
                        <a href="/listProducts?productType=ram">RAM</a>
                        <a href="/listProducts?productType=powersupply">Power supply</a>
                        <a href="/listProducts?productType=ssd">SSD</a>
                        <a href="/listProducts?productType=hdd">HDD</a>
                        <a href="/listProducts?productType=cooling">Cooling</a>
                        <a href="/listProducts?productType=housing">Housing</a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="search-bar">
            <input type="text" id="search-input" placeholder="Search...">
            <button id="search-button" onclick="searchALl()">
                <img src="/assets/icons/search.png" alt="Search">
            </button>
        </div>
        <div id="add-panel">
            <div id="shopping-cart" class="shopping-cart">
                <a href="/openCart"><img src="/assets/icons/cart.png" alt="Shopping Cart"></a>
                <span id="cart-badge" class="cart-badge">5</span>
            </div>
            <div class="user-container">
                <img src="{{ .User.UserInfo.Image }}" alt="User Account">
                <ul>
                    <li class="dropdown">
                        <span>
                            <a href="#" class="dropbtn catalog-button">{{ .User.UserInfo.Name }}</a>
                         </span>
                        <div class="dropdown-content">
                            <a href="/showUserProfile">Profile</a>
                            <a href="/logout">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{{ end }}